{% extends 'base.html.twig' %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
<div ="header">
        <nav class="navbar navbar-default" style="    background-color: #107cba;">
                <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" href="/" style="color:white;"> ELearning</a>
                        </div>
                        <ul class="nav navbar-nav" style="float: right;">
                                <li ><a href="/login" style="color:white;">Login</a></li>
                              </ul>
                </div>
        </nav>
<form style="    width: 30%;     width: 30%;
margin-left: 35%;
margin-right: 35%;">
    <div class="imgcontainer">
      <img src="/images/ava.png" alt="Avatar" class="avatar">
    </div>
  
    <div class="container" style="    width: 100%;">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <a href="/home"><button type="submit">Login</button></a>
      <input type="checkbox" checked="checked"> Remember me
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    form {
        border: 3px solid #f1f1f1;
    }
    
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    button {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    
    img.avatar {
        height: 100px;
        width: 100px;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }
</style>
{% endblock %}
