<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    </head>
    <body>
        
        {% block body %}{% endblock %}
        <div class="footer">
            <p>Copyright © 2017. Elearning with Symfony</p>
        </div>
        {% block javascripts %}{% endblock %}
        </div>
        
    </body>
    <style>
            .footer {
                position: fixed;
                padding: 1%;
                height: 50px;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: #107cba;
                color: white;
                text-align: center;
            }
    </style>
</html>
