{% extends 'base.html.twig' %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
    <div class="wrapper">
        <h1>Helloooo</h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active" style="padding-left: 5%;
                padding-right: 5%;" >
                    <img src="/images/banner.png">
                </div>
            </div>
            <div class="carousel-caption" style="  background-color: #2b7a98b5;
            width: 90%;
            left: 5%; padding-bottom: 0px;">
                    <div class="carousel-caption-inner">
                        <h4>Elearning PENS</h4>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
