{% extends 'base.html.twig' %}

{% block script %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a href="#" class="navbar-brand">
			<img src="img/Logo Vertikal.png" style="height: 32px;">
		</a>
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="#">Beranda</a>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" id="navSubject" data-toggle="dropdown">
					Subject
				</a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item">Subject 1</a>
					<a href="#" class="dropdown-item">Subject 2</a>
					<a href="#" class="dropdown-item">Subject 3</a>
					<a href="#" class="dropdown-item">Subject 4</a>
					<a href="#" class="dropdown-item">Subject 5</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" id="navSubject" data-toggle="dropdown">
					Akun
				</a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item">Profil</a>
					<a href="#" class="dropdown-item">Log Out</a>
				</div>
			</li>
		</ul>
	</nav>
	<div class="fluid-container">
		<div id="section1 p-5">
			<div class="row">
				<div class="col-md-2 p-4"></div>
				<div class="col-md-8 p-4">
					<div class="card mb-3">
						<div class="card-header">
							<h3 class="mb-2">Nama Subjek <small>Nama Kategori</small>
								<button type="button" class="btn btn-success btn-sm float-right">
									<span class="oi oi-plus" title="plus" aria-hidden="true"></span> Tambah
								</button>
							</h3>
						</div>
						<div class="card-body p-5">
							<div class="row">
								<div class="card-columns">
									<div class="card">
										<img src="img/card.png" class="card-img-top">
										
										<div class="card-body">
											<h4 class="card-title">Minggu Ke-1</h4>
											<p class="card-text">
												Lorem Ipsum is simply dummy text of the printi typesetting industry. Lorem Ipsum has been the industry's standard dummy text ev
											</p>
											<a href="#" class="btn btn-primary">Lihat Modul</a>
										</div>
									</div>
									<div class="card">
										<img src="img/card.png" class="card-img-top">
										<div class="card-body">
											<h4 class="card-title">Minggu Ke-2</h4>
											<p class="card-text">
												Lorem Ipsum isly dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ev
											</p>
											<a href="#" class="btn btn-primary">Lihat Modul</a>
										</div>
									</div>
									<div class="card">
										<img src="img/card.png" class="card-img-top">
										<div class="card-body">
											<h4 class="card-title">Minggu Ke-3</h4>
											<p class="card-text">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standummy text ev
											</p>
											<a href="#" class="btn btn-primary">Lihat Modul</a>
										</div>
									</div>
									<div class="card">
										<img src="img/card.png" class="card-img-top">
										<div class="card-body">
											<h4 class="card-title">Minggu Ke-4</h4>
											<p class="card-text">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standummy text ev
											</p>
											<a href="#" class="btn btn-primary">Lihat Modul</a>
										</div>
									</div>
									<div class="card">
										<img src="img/card.png" class="card-img-top">
										<div class="card-body">
											<h4 class="card-title">Minggu Ke-5</h4>
											<p class="card-text">
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standummy text ev
											</p>
											<a href="#" class="btn btn-primary">Lihat Modul</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-md-2 p-4"></div>
			</div>
		</div>
	</div>
</body>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
{% endblock %}
